################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/TaskTest/v16
/TaskTest/bin/Debug
/TaskTest/obj/Debug
/packages/Newtonsoft.Json.12.0.3
